{% extends 'base.html' %}

{% block title %}Log In | Private Diary{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
    <div class="success">
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-success" role="alert"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endif %}
        </div>
    <ul class="index-ul">
    <li>ご利用ありがとうございます</li>
    <li>製作者twitter→<a class="inline" href="https://twitter.com/tonakai_it" target="_blank">@tonakai_it</a></li>
    <li><a href="{% url 'favo4:F4-list' %}" class="btn btn-success">ホームへ</a></li>
    </ul>
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="my-div-style">#}
{#            <h1>Log In</h1>#}
{#            <form method="post" action="{% url 'account_login' %}">#}
{#                {% csrf_token %}#}
{##}
{#                {{ form.as_p }}#}
{##}
{#                {% if redirect_field_value %}#}
{#                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#                {% endif %}#}
{##}
{#                <button class="btn btn-primary" type="submit">ログイン</button>#}
{#                <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}