{% extends 'base.html' %}
{% load static %}
{% block title %}Favorite4|ログイン{% endblock %}
{% block head %}
    <link href="{% static 'sass/signup-withdrawal.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block contents %}
    <div class="wrap-box">
    <label>
        <a href="{% url 'favo4:F4-regulations' %}" target="_blank" class="inline">利用規約(2021/3/21)</a>に同意する<input type="checkbox"
                                                                                                      class="agree">
    </label>
    <button type="button" class="btn btn-primary signup" id="submit"
            onclick="location.href='{% url 'social:begin' 'twitter' %}?next={{ next }}'" disabled>
        Twitter でログイン
    </button>
    <a href="{% url 'favo4:F4-list' %}" class="btn btn-success">ホームへ</a>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'js/signup-withdrawal.js' %}" type="text/javascript"></script>
{% endblock %}