{% extends 'base.html' %}
    {% block title %}ポスト{% endblock %}
    {% block contents %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {% for chara in content.chara_set.all %}
    	    <div>
    	        <div>


                     <label>
                         <img src="{{ chara.photo.url }}" alt="{{ chara.chara_name }}">
                    <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ chara.id }}" class="check-box-twi">
                    </label>
         		</div>
    	    </div>
                {% endfor %}
            <div class="col-lg-3">
	        	    <button type="submit" class="btn btn-primary">送信する</button>
    			</div>
            </form>
{% endblock %}